In [ ]:
from page_content_extractor import *

ltohtml("https://pagalmass.com/")

In [13]:
import sqlite3

def create_connection():
    connection = sqlite3.connect("D:/clg/Project Phase 1/Project/Main/database/books.db")
    return connection

create_connection()

# def create_table():
#     connection = create_connection()
#     cursor = connection.cursor()
#     cursor.execute("""
#     CREATE TABLE IF NOT EXISTS Users (
#     id INTEGER PRIMARY KEY AUTOINCREMENT,
#     UUID INTERGET PRIMAY KEY,
#     NAME TEXT NOT NULL,
#     DATE_JOINED TEXT,
#     COUNTRY TEXT
#     )
#     """)
#     connection.commit()
#     connection.close()

# create_table()

In [ ]:

def create_user():
    connection = create_connection()
    cursor = connection.cursor()
    cursor.execute("INSERT INTO Users (UUID ,NAME, DATE_JOINED, COUNTRY) VALUES ('f918d731', 'ADMIN', '28/02/2025','INDIAðŸŒš')")
    connection.commit()
    connection.close()

create_user()

In [14]:
def get_users():
    connection=create_connection()
    cursor=connection.cursor()
    cursor.execute("SELECT * FROM Users")
    books=cursor.fetchall()
    for book in books:
        print(book)
    connection.close()

get_users()

(39, 1234567890, 'root', '01/03/2025', 'India')
(40, 987654321, 'Vishnu19091', '01/03/2025', 'India')
(41, 987612311, 'Vishnu', '01/03/2025', 'India')
(42, 121252362, 'Charles', '01/03/2025', 'US')
(43, 121212322, 'Aaron', '01/03/2025', 'US')
(44, 121432322, 'Tom', '01/03/2025', 'US')

In [ ]:
def delete_table():
    connection=create_connection()
    cursor=connection.cursor()
    cursor.execute("DROP TABLE Users")
    connection.close()

delete_table()

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

SQLALCHEMY_DATABASE_URL = "sqlite:///./books.db"
engine=create_engine(
    SQLALCHEMY_DATABASE_URL, connect_args={"check_same_thread":False}
)

SessionLocal=sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base=declarative_base()