In [ ]:
from page_content_extractor import *

ltohtml("https://pagalmass.com/")

In [10]:
import sqlite3

def create_connection():
    connection = sqlite3.connect("D:/clg/Project Phase 1/Project/Main/database/books.db")
    return connection

create_connection()

def create_table():
    connection = create_connection()
    cursor = connection.cursor()
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS Users (
    id INTEGER PRIMARY KEY,
    UUID INTERGET PRIMAY KEY,
    NAME varchar(100) NOT NULL,
    DATE_JOINED DATETIME DEFAULT CURRENT_TIMESTAMP,
    COUNTRY TEXT
    )
    """)
    connection.commit()
    connection.close()

create_table()

In [19]:

def create_user():
    connection = create_connection()
    cursor = connection.cursor()
    cursor.execute("INSERT INTO Users (UUID ,NAME, COUNTRY) VALUES ('12345678', 'Vishnu19091', 'INDIA')")
    connection.commit()
    connection.close()

create_user()

In [20]:
def get_users():
    connection=create_connection()
    cursor=connection.cursor()
    cursor.execute("SELECT * FROM Users")
    books=cursor.fetchall()
    for book in books:
        print(book)
    connection.close()

get_users()

(1, 86424561, 'Vishnu19091', '2025-03-02 10:59:40', 'INDIA')
(2, 12345678, 'Vishnu19091', '2025-03-02 10:59:45', 'INDIA')
(3, 12345678, 'Vishnu19091', '2025-03-02 10:59:46', 'INDIA')
(4, 12345678, 'Vishnu19091', '2025-03-02 10:59:47', 'INDIA')
(5, 12345678, 'Vishnu19091', '2025-03-02 10:59:47', 'INDIA')
(6, 12345678, 'Vishnu19091', '2025-03-02 10:59:47', 'INDIA')
(7, 12345678, 'Vishnu19091', '2025-03-02 10:59:48', 'INDIA')
(8, 12345678, 'Vishnu19091', '2025-03-02 10:59:49', 'INDIA')
(9, 12345678, 'Vishnu19091', '2025-03-02 10:59:49', 'INDIA')

In [9]:
def delete_table():
    connection=create_connection()
    cursor=connection.cursor()
    cursor.execute("DROP TABLE Users")
    connection.close()

delete_table()

In [ ]:
dbfile="D:/VsCode Workspace/fastapi/todos.db"


import sqlite3
import pandas as pd

conn=sqlite3.connect(dbfile)

df=pd.read_sql_query("select * from todos",conn)
df.to_csv('test_export.csv', index=False)

conn.close()
print("Exported successfully")

Exported successfully